* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;

}

body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

div {
    display: flex;
}

#app {
    height: 100%;
    width: 100%;
    background-color: white;
}